body {
  max-width: 900px;
  margin: 30px auto;
  font-family: "lucida grande";
  text-align: center;
  color: white;
  background-color: #402b2b;
}

button {
  font-size: 20px;
}

header.title {
  font-size: 40px;
  text-align:center;
  margin-bottom: 25px;
}

header.playerTurn {
  font-size: 24px;
  text-align: center;
  margin-bottom:40px;
}

.gameboard {
  width: 310px;
  margin: 0 auto;
  font-size: 0;
  margin-bottom: 40px;
}

.square {
  width: 100px;
  height: 100px;
  color: #4d3e3e;
  background-color: #857373;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
  font-size: 48px;
}

.row {
  height:100px;
  padding-bottom: 5px;
}

.sq00, .sq10, .sq20{
  position: static;
}

.sq01, .sq11, .sq21 {
  position: relative;
  left: 105px;
  top: -100px;
}

.sq02, .sq12, .sq22 {
  position: relative;
  left: 210px;
  top: -200px;
}
